{% extends "crm_app/base.html" %}
{% block content %}
<body>
	{% if user.is_authenticated %}
	<div class="logged-in-content">
		<h1>Your Workspace</h1>
	</div>
	{% else %}
	<div class="login-section fadeInUp-animation">
		<h2>Welcome to Love for St. Louis!</h2>
		<p>Sign in to your account</p>
		<br>
	  <form method="POST" action="{% url 'index' %}">
			{% csrf_token %}
			<form>
				<div class="mb-3">
					<p>
						<!-- <label for="user">Username:</label> -->
						<input type="text" name="username" id="user" placeholder="Username" required>
					</p>
				</div>
				<div class="mb-3">
					<p>
						<!-- <label for="password">Password: </label> -->
						<input type="password" name="password" id="password" placeholder="Password" required>
					</p>
				</div>
				<button type="submit">Login</button>
				<a class="sign-up" href="{% url 'register' %}"
					>Sign up</a
				>
			</form>
	  </form>
	</div>
</body>

{% endif %}
{% endblock %}
